<div class="container">
  <form class="form-inline"  #addForm="ngForm" (ngSubmit)="addUser()">
    <div cass="form-group mx-sm-3 mb-2">
      <label for="inlineFOrmInp" class="sr-only">Userid</label>
      <input name="username" type="text" class="form-control mb-2" id="inlineFOrmInp" placeholder="Enter your userid" ngModel required>
      <button type="submit" class="btn btn-primary mb-2">Login</button>
    </div>
  </form>
  <app-users></app-users>
  <app-userinfo [childuser]="parentuser"></app-userinfo>
  <app-search></app-search>
  <app-imagedisplay [childuser]="parentuser"></app-imagedisplay>
</div>
